@model Phase_three_project_final.Models.TblLaptops

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblLaptops</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaptopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaptopName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaptopImage)
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.LaptopImage)*@
            <img src="@Model.LaptopImage" height="100px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaptopPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaptopPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LaptopId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
