@model Phase_three_project_final.Models.TblAdmin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblAdmin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminUname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminUname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminPwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminPwd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdminId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
